<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore</title>
    <link href="~/css/bootstrap (2).css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Include toastr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
   

  
</head>
<body>
    @* <header style="height:30px" > *@
    <nav class="navbar navbar-expand-lg bg-primary" style="height:60px" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Book Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse dt-justify " id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                            <a asp-controller="Category" asp-action="Index" class="nav-link">Category</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Product" asp-action="Index" class="nav-link">Product</a>
                            </li>
                        }

                    <li class="nav-item">
                        <a asp-controller="Order" asp-action="Index" class="nav-link">Orders</a>
                    </li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                         {
                          <li class="nav-item">
                            <a class="nav-link" asp-controller="ShoppingCart" asp-action="Index"><i class="bi bi-cart3"></i></a>
                          </li>
                        }

                    @if (!User.Identity.IsAuthenticated)
                    {

                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                        </li>
                    }
                    else
                    {

                        <li class="nav-item">
                            <span class="nav-link">@User.Identity.Name.Split("@")[0]</span>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Logout" class="nav-link">Logout</a>
                        </li>

                    }
                      
                    </ul>

               
                    
                </div>
            </div>
        </nav>
   @*  </header> *@
    <div class="container">
        
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
       @*  <div class="container">
            &copy; 2024 - BookStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div> *@
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
